.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.6%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.4%;
}
.col-8 {
	width: 66.67%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.34%;
}


.block {
	float: left;
}



@media only screen and (max-width: 1000px) {
	#change1 {
		color: blue;
		font-size: 20px
	}

	#change2 {
		color: green;
		font-size: 20px
	}

	#change3 {
		color : yellow;
		font-size: 20px
	}
}

@media only screen and (max-width: 600px) {
	#change1 {
		color: red;
		font-size: 30px;
	}

	#change2 {
		color: blue;
		font-size: 30px;
	}

	#change3 {
		color : green;
		font-size: 30px;
	}
}

